DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=bookstore

APP_ENV=local

# Ghi nhớ đăng nhập
AUTH_JWT_SECRET=

# Gửi OTP qua gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=

# Liên kết tài khoản google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Upload ảnh
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Thanh toán VNPay
VNP_TMNCODE=
VNP_HASHSECRET=
VNP_URL=
VNP_RETURNURL=